@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    font-size: 25px;
    
    
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    padding: 20px;
    }
.banner{
    width: 100%;
    height: 80%;
}

.banner img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    justify-content: space-between;
    opacity: 0.6;
    margin-bottom: 20px;

}
.navBar{
    display: flex;
    gap: 20px ;
    list-style: none;
    justify-content: right;
}

.navBar li {
    text-decoration: none;
    float: right;
}

.navBar li a:hover{
    color: crimson;
}

footer{
    background-color:#F5D3BD ;
    text-align: center;
}

body{
    font-family: "Roboto Slab" ;
    flex-direction: column;
    height: 100%;
    gap: 20px;

}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.carousel{
    width: 600px;
}

.introduccion{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mision1 {
    grid-area: mision1;
    background-color: rgb(184, 128, 44);
}
.mision2 {
    grid-area: mision2;
}
.mision3 {
    grid-area: mision3;
}
.mision4 {
    grid-area: mision4;
    justify-content: center;
}
.mision5 {
    grid-area: mision5;
}
.mision6 {
    grid-area: mision6;
}

.mision {
    display:grid;
    grid-template-columns: 1fr 1fr 33%;
    grid-template-rows: 200px 300px 500px;
    gap: 20px;
    grid-template-areas: 
    'mision1 mision1 mision2'
    'mision3 mision4 mision5'
    'mision6 mision6 mision5'
    ;
}

.mision div{
    background-color: aquamarine;
}
.mision div img{
    height: 100%;
    width: 100%;
}
.casos-exito{
    display: flex;
    align-items: center;
    gap: 30px;
}

.casos-exito-texto{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.orgs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
   

}

.orgs-container article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .5625rem;
    background-color: rgb(192, 165, 134);
    justify-items: center;
}



li{ 
    list-style-type: none ;
}

h2{
    font-weight:500;
}

p{
   font-weight: lighter; 
}


.boton button {
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}

.animalesPrincipal article{
    height: 100%;
    border-radius: 10%;
}

.animalesPrincipal article img{
    width: 100%;
    height: 50%;
    overflow: hidden;
   
}
.animalesPrincipal .navegacion{
    display: flex;
    background-color:  rgb(2, 6, 5);
    grid-area: navegacion;
}
.animalesPrincipal .animal1{
    background-color:  rgb(21, 125, 108);
    grid-area: animal1;
}

.animalesPrincipal .animal2{
    background-color: rgb(21, 125, 108);
    grid-area: animal2;
}
.animalesPrincipal .animal3{
    background-color: rgb(21, 125, 108);
    grid-area: animal3;

}
.animalesPrincipal .animal4{
    background-color: rgb(21, 125, 108);
    grid-area: animal4;

}
.animalesPrincipal .animal5{
    background-color: rgb(21, 125, 108);
    grid-area: animal5;

}
.animalesPrincipal .animal6{
    background-color: rgb(21, 125, 108);
    grid-area: animal6

}
.animalesPrincipal{
    display: grid;
    grid-template-columns: 280px repeat(3, 300px);
    grid-template-rows: fr fr ;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    grid-template-areas: 
    'navegacion animal1 animal2 animal3'
    'navegacion animal4 animal5 animal6'
   
    ;

}

.faqflexbox div{
    width: 500px;
    height: 500px;
    background-color: dodgerblue;
    margin: 10px;
}
.faqflexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.fixed img{
    position: fixed;
    height: 50px;
    right: 20px;
    bottom: 20px;

}

@media (max-width: 1024px){
    .navBar{
        font-size: 20px
    }
    .orgs-container{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: none;
    }

}

@media (max-width: 768px){
    header{
        align-items: center;
    }
    .banner{
        height: 50%;
    }

}

@media (max-width: 425px){
    .navBar{
        flex-direction: column;
        padding-right: none;
        align-items: center;
    }
}